body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #000; /* Set the background to black */
    color: white; /* Default text color to white for better contrast */
}

.main-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    background-color: #0078d4; /* Header color */
    color: white; /* Header text color */
    width: 100%;
    text-align: center;
    padding: 15px 0;

}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    margin-top: 20px;
}
